:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --background: #faf8ea;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/*=====> Theme CSS <=====*/

[data-theme='light'] {
  --background: #faf8ea;
}
[data-theme='dark'] {
  --background: #323232;
}

/*=====> Theme CSS <=====*/

body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  color: #333;
  background-color: var(--background);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .react {
    animation: logo-spin infinite 20s linear;
  }
}

/*===> TailwindCSS <===*/
@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply flex flex-col py-2 md:py-6 px-2 w-full lg:max-w-[1140px] mx-auto;
}
.header__container {
  @apply flex py-2 md:py-6 px-2 w-full lg:max-w-[1140px] mx-auto;
}
.theme-switch {
  @apply w-8 h-8 rounded-full inline-flex bg-gray-100 dark:bg-gray-600 dark:text-white items-center justify-center;
}

.content {
  @apply min-h-[80vh];
}

.footer {
  @apply flex items-center justify-center flex-col text-gray-400 dark:text-white;
}

.btn {
  @apply cursor-pointer capitalize hover:underline;
}
.btn-link {
  @apply bg-blue-500 hover:bg-blue-600 rounded-md text-white dark:text-gray-500 py-3 px-5;
}

/*---> Shop Page <---*/
.shop_page {
  @apply flex gap-x-4 justify-between items-start;
}

.shop_page_sidebar {
  position: sticky;
  @apply flex top-[20px] flex-col bg-white dark:bg-gray-700 py-4 p-6 gap-y-4 w-[280px] min-h-[80vh] shadow-sm rounded-md;
}

.shop_page_sidebar div strong {
  @apply block font-semibold capitalize text-gray-600 dark:text-white mb-1;
}

.shop_page_sidebar .menu_list {
  @apply list-none flex items-start justify-start pl-0 flex-col;
}
.menu_list li,
.menu_list button {
  @apply text-gray-500 dark:text-gray-200 cursor-pointer hover:text-blue-500 dark:hover:text-white;
}
.menu_list li.active,
.menu_list button.active {
  @apply text-blue-500 font-semibold dark:text-white;
}

.shop_page_area {
  @apply flex flex-col p-0 w-full gap-y-4 min-h-[80vh] shadow-sm rounded-md bg-white dark:bg-gray-700;
}

.shop_page_top {
  @apply flex p-4 w-full;
}

.shop_page_items {
  @apply flex p-4 w-full;
}

.search {
  @apply dark:bg-gray-600 rounded-md;
}
.psearch {
  @apply outline-none rounded-md text-gray-500 dark:text-white dark:bg-gray-600 border-[1px] border-gray-300 dark:border-gray-600 py-1 pl-4;
}

.price {
  @apply flex flex-wrap justify-between;
}

.price strong,
.price .ranger {
  @apply block w-full;
}
.price .range_input {
  @apply flex items-center justify-between gap-x-8 mt-1;
}
.price .range_input input {
  @apply w-[50%] outline-none border-2 border-gray-200 dark:border-gray-600 dark:bg-gray-600 dark:text-gray-100 pl-2 rounded-md;
}
.bottom_part {
  @apply flex flex-col items-start gap-y-4 mt-4 w-full text-gray-500 dark:text-gray-100;
}

.bottom_part span {
  @apply w-full capitalize flex items-center justify-between;
}

.bottom_part .btn-clr {
  @apply text-sm bg-red-500 hover:bg-red-600 text-white py-1 px-3 capitalize rounded-md;
}

.shop_page_top {
  @apply flex items-center w-full;
}

.topbar_left {
  @apply flex items-center justify-between;
}
.topbar_right {
  @apply flex items-center justify-end ml-auto gap-x-2;
}

.topbar_left span {
  @apply flex items-center justify-start gap-x-2;
}

.topbar_left span button {
  @apply inline-flex items-center justify-center p-2 bg-gray-100 dark:bg-gray-600 text-xl text-gray-500 dark:text-white rounded-md;
}
.topbar_left .btn-active {
  @apply bg-sky-500 text-white dark:bg-sky-700;
}

.topbar_left p {
  @apply inline-block ml-10 text-gray-500 dark:text-gray-200 text-lg;
}

.topbar_right span {
  @apply dark:text-gray-200;
}
.topbar_right select {
  @apply py-2 px-4 rounded-md outline-none border-[1px] border-gray-200 dark:border-gray-600 dark:bg-gray-700 dark:text-gray-200;
}

/*--- Product Card ---*/
.product_grid {
  @apply grid gap-4 grid-cols-3 w-full;
}
.product_card_grid {
  @apply p-0 shadow-md rounded-md w-[100%] flex flex-col overflow-hidden;
}
.product_card_grid .product_info {
  @apply p-4 dark:text-white;
}
.product_card_grid .product_photo {
  @apply w-full py-[100px] bg-blue-100 dark:bg-gray-300;
}

.product_card_list {
  @apply p-0 shadow-md rounded-md w-full flex flex-row-reverse overflow-hidden;
}
.product_card_list .product_info {
  @apply p-4 flex flex-col items-start mr-auto dark:text-white;
}
.product_card_list .product_photo {
  @apply p-0 bg-blue-100 dark:bg-gray-300  min-w-[300px] h-[200px];
}
